body {
    background-image: url('https://media.giphy.com/media/whoXRhu4Qj07eomK5x/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* NAV BAR */
.dropdownmenu ul,
.dropdownmenu li {
    margin: 0;
    padding: 0 0 1em 0;
}

.dropdownmenu ul {
    background: transparent;
    list-style: none;
    width: 100%;
}

.dropdownmenu li {
    float: right;
    position: sticky;
    width: auto;
}

.dropdownmenu a {
    background: #6F8AB7;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background: #615D6C;
}

/* LOGIN AND SIGN-UP PAGE */
/* https://codepen.io/Mongeed/pen/nBvGpK?editors=1100 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

.login-card {
    font-family: 'Roboto', sans-serif;
    padding: 70px;
    width: 270px;
    background-image: url(https://media.giphy.com/media/l44Qxmrj5hqsxt4Gs/giphy.gif);
    background-size: cover;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    border-radius: 3px;
    /* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
    border: 1px solid #3079ed;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: 0.75s;
}

.login-card a:hover {
    opacity: 1;
}

/* LOGIN AND LOGOUT BUTTON */
.button-2 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-2:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #89BBFE;
}

.button-2:active {
    background-color: rgba(0, 0, 0, 0.5)
}

.table-h2 {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: match-parent;
    /* margin-right: 105px;
    padding: 0 50px 0 50px; */


    align-items: center;
    display: flex;
    justify-content: center;
    font-size:x-large;
}

/* TABLE */
/* https://codepen.io/nikhil8krishnan/pen/WvYPvv */
.table-h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    padding: 1em 0 0 0;
}

table {
    width: auto;
    table-layout: fixed;
    margin: 0 auto;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.links:visited {
    color: #fff;
}

td {
    padding: 15px;
    text-align: middle;
    vertical-align: middle;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* TABLE TASK BUTTON  */

.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.button-13:hover {
    background-color: #f7fafa;
}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* FORM FORM FORM */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600); */

.form-card {
    font-family: 'Roboto', sans-serif;
    padding: 70px;
    width: 300px;
    background-image: url(https://media.giphy.com/media/Y4JCOwv26vmszz07rr/giphy.gif);
    /* background-color: #008296; */
    background-size: cover;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

.form-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.form-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.form-card input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-card input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    border-radius: 3px;
    /* -webkit-user-select: none;
  user-select: none; */
}

.form-submit {
    border: 1px solid #3079ed;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.form-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.form-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: 0.75s;
}

.form-card a:hover {
    opacity: 1;
}

/* DESCRIPTION */
.description {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size:x-large;
    color: white;
}