{% extends 'base.html' %}

{% block main %}
    <div class="form-card">
        <h1>Create a new project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button-2">Create</button>
        </form>
    </div>
{% endblock %}