{% extends 'base.html' %}
{% load markdownify %}

{% block main %}
    <div>
        <h1 class="table-h1">{{project_detail.name}}</h1>
        <p class="description">{{ project_detail.description|markdownify }}</p>
        <h2 class="table-h2">Tasks</h2>
        {% if project_detail.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_detail.tasks.all %}
                        <tr>
                            <td>{{task.name}}</td>
                            <td>{{task.assignee}}</td>
                            <td>{{task.start_date}}</td>
                            <td>{{task.due_date}}</td>
                            {% if task.is_completed == True %}
                            <td>Yes</td>
                            {% else %}
                            <td>No</td>
                            {% endif%}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="description">This project has no tasks </p>
        {% endif %}
    </div>

{% endblock main %}