{% extends 'base.html' %}

{% block main %}
    <div class="table">
        <h1 class="table-h1">My Projects</h1>
        {% if project_list|length == 0 %}
            <p class="description">You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                    <tr>
                        <td>
                            <a class="links" href="{% url 'show_project' project.pk %}">{{project}}</a>
                        </td>
                        <td>{{project.tasks.all|length}}</td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}